{% extends 'generator/layout.html' %}
{%block content%}
<div class="card card-body " style="margin-top: 20px;">
    <h1>Soy Maiker Stanley Cañon</h1>
    <p>Soy estudiante de septimo semestre en Ingenieria de software, me gusta mucho trabajar con la tecnologia, aparte de ser mi profesion es lo que le ha dado, objetivo y sentido a mi vida. Quiero ayudar a los demas y especializarme en inteligencia artifical con Python.</p>
    <p>Lo bonito de el software es que es accesible para todo a quel que tenga ganas, internet y un PC; desde que tengamos las ganas todos se puede lograr.</p>
    <p>Tengo un sueño y es darle una gran vida a mi madre y padre, de paso formar una familia y poder protegerlos y brindarles lo que sea</p>

</div>

{%endblock%}